# Игнорировать скомпилированные файлы Go
*.exe
*.exe~
*.dll
*.so
*.o

# Игнорировать временные файлы и бинарники
bin/
*.test
*.out

# Игнорировать зависимости, если используете go modules (они хранятся в go.mod и go.sum)
vendor/

# Игнорировать файлы окружения
.env

# Игнорировать файлы сборки и кэша
build/
dist/

# Игнорировать файлы IDE и редакторов (пример для VS Code)
.vscode/
*.code-workspace

# Игнорировать файлы отладки и журналы
*.log
*.lock